<template>
  <q-page padding>
    <div class="wrapper-div" v-if="getBookmarkedData && !loading && getBookmarkedData.length > 0 ">
      <h6 class="heading-text">Bookmarked</h6>

      <div class="row q-col-gutter-lg">
        <!--    start of skeleton div-->
        <template v-for="n in 8" :key="n">
          <CardSkeleton :loading="loading"/>
        </template>
        <!--        end of skeleton div-->
        <template v-if="getBookmarkedData && !loading && getBookmarkedData.length > 0 ">
          <NewsCard :allNews="getBookmarkedData"/>
        </template>
      </div>
    </div>
    <div v-else>
      <EmptyPage
        title="Your bookmark list is empty."
        description="Go back to your feed and bookmark posts you'd like to keep or read later.
          Each post you bookmark will be stored here."
      >
        <template v-slot:icon>
          <q-icon name="bookmark" size="100px"/>
        </template>
      </EmptyPage>
    </div>

    <GotoTop/>
  </q-page>
</template>

<script>
import commonMixins from "src/Mixins/CommonMixins";
import getters from "src/Mixins/getters";
import CardSkeleton from "components/CardSkeleton";
import GotoTop from "components/GotoTop";
import NewsCard from "components/NewsCard";
import EmptyPage from "components/EmptyPage";

export default {
  name: "Bookmarks",
  mixins: [commonMixins, getters],
  components: {CardSkeleton, GotoTop, NewsCard, EmptyPage},
}
</script>

<style scoped lang="scss">
.wrapper-div {
  margin-left: 120px;
  margin-right: 100px;


  .heading-text {
    color: $theme-white-primary;
  }
}


@media only screen and (max-width: 1024px) {
  .wrapper-div {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 640px) {
  .wrapper-div {
    margin: 0 30px;

    .card {
      h4 {
        font-size: 1rem;
        line-height: 20px;
        padding: 0 10px;
        margin: 10px 0px;
        font-weight: bold;
        color: $theme-white-primary;
        min-height: 40px;
      }
    }
  }
}
</style>
