<template>
  <q-page padding>
    <div class="wrapper-div">
      <form @submit.prevent="submitForm">
        <div class="form-container">
          <div class="title-block">
            <h3>Feedback</h3>
            <p>Please let us know about your experience with our product and service</p>
          </div>
          <div class="recommend-block">
            <h4>Would you recommend it to your friends and colleagues?</h4>
            <q-radio v-model="formData.recommend" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="1"
                     label="Yes"/>
            <q-radio v-model="formData.recommend" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="0"
                     label="No"/>
          </div>
          <div class="suggestion-block">
            <h4>Do you have any suggestions to improve our product and service?
            </h4>
            <q-input
              v-model="formData.text"
              class="text-box"
              filled
              type="textarea"
            />
          </div>
          <div class="satisfy-block">
            <h4>How satisfied are you with our company overall?
            </h4>
            <q-radio v-model="formData.satisfaction" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="very-satisfied"
                     label="Very Satisfied"/>
            <q-radio v-model="formData.satisfaction" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="satisfied"
                     label="Satisfied"/>
            <q-radio v-model="formData.satisfaction" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="undecided"
                     label="Undecided"/>
            <q-radio v-model="formData.satisfaction" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="unsatisfied"
                     label="Unsatisfied"/>
            <q-radio v-model="formData.satisfaction" checked-icon="task_alt" unchecked-icon="panorama_fish_eye"
                     val="very-unsatisfied"
                     label="Very Unsatisfied"/>
          </div>
          <div class="contact-section-footer">
            <h5>Please leave your email address if you would like us to contact you regarding any questions.
            </h5>
            <div class="input-fields">
              <div class="name-block">
                <div class="first">
                  <q-input class="input-text-box" filled placeholder="First name" id="firstname"
                           v-model="formData.first_name"/>
                </div>
                <div class="second">
                  <q-input class="input-text-box" filled placeholder="Last name" v-model="formData.last_name"/>
                </div>
              </div>
              <div class="email-block">
                <q-input class="input-text-box" filled id="email" v-model="formData.email"
                         placeholder="ex: myname@example.com "
                />
              </div>
            </div>
            <h5>Thank you for your feedback.</h5>
          </div>
          <div class="button-submit">
            <q-btn type="submit" class="submit-btn"> Submit</q-btn>
          </div>
        </div>
      </form>

    </div>
  </q-page>


</template>

<script setup>
import {ref} from "vue";
import {useStore} from "vuex";

const store = new useStore();
let formData = ref({
  recommend: '',
  text: '',
  satisfaction: '',
  first_name: '',
  last_name: '',
  email: ''
});

const clearDetails = () => {
  return formData.value = {
    recommend: '',
    text: '',
    satisfaction: '',
    first_name: '',
    last_name: '',
    email: ''
  }
}

const submitForm = () => {
  store.dispatch("CommonStore/sendFeedback", formData.value)
    .then(() => {
      clearDetails()
    });
}
clearDetails()
</script>

<style scoped lang="scss">
.wrapper-div {
  margin-left: 120px;
  margin-right: 200px;

  h3 {
    margin: 30px 0 8px 0;
    color: $theme-white-primary;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.1rem;
    margin: 4px 0;
    font-weight: 500;
  }

  .form-container {
    > div {
      margin: 50px 0;
    }

    .text-box {
      border: 1px solid $theme-light-gray-border;
      border-radius: 20px;
    }

    ::placeholder {
      font-size: 1rem;
      padding-left: 10px;
    }

    .q-radio {
      display: flex;
    }

    .radio-buttons {
      color: $theme-white-primary;
    }

    .contact-section-footer {
      .input-fields {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;

        .input-text-box {
          border: 1px solid $theme-light-gray-border;
          border-radius: 20px;

        }

        .name-block {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 30px;

          .first {
            width: 100%;
          }

          .second {
            width: 100%;
          }

        }

        .email-block {
          width: 100%;
        }

      }

      h5 {
        font-size: 1.15rem;
      }
    }

    .button-submit {
      display: flex;
      justify-content: center;
      align-items: center;

      .submit-btn {
        border-radius: 20px;
        border: 1px solid $theme-light-gray-border;
        padding: 10px 30px;

        background-image: linear-gradient(#ff2f97, #ff2f97);
        background-repeat: no-repeat;
        background-size: 0 100%;
        background-position-x: right;
        transition: background-size 500ms;
      }

      .submit-btn:hover {
        background-size: 100% 100%;
        background-position-x: left;
      }
    }

  }
}

@media only screen and (max-width: 1024px) {
  .wrapper-div {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 640px) {
  .wrapper-div {
    margin: 0 30px;

    h3 {
      margin: 20px 0 6px 0;
    }

    h4 {
      font-size: 1rem;
      line-height: 24px;
      margin: 2px 0;
      font-weight: 500;
    }

    .form-container {
      > div {
        margin: 40px 0;
      }

      .contact-section-footer {
        .input-fields {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .name-block {
            flex-direction: column;
            gap: 10px;

          }
        }

        h5 {
          font-size: 1rem;
          line-height: 24px;
        }
      }

      .button-submit {
        display: flex;
        justify-content: center;
        align-items: center;

        .submit-btn {
          border-radius: 20px;
          border: 1px solid $theme-light-gray-border;
          padding: 10px 30px;
        }
      }

    }


  }
}

</style>
