<template>
  <q-page padding>
    <div class="wrapper-div">
      <h6 class="heading-text">Most Upvoted</h6>
      <div class="row q-col-gutter-lg">
        <!--    start of skeleton div-->
        <template v-for="n in 8" :key="n">
          <CardSkeleton :loading="loading"/>
        </template>
        <!--        end of skeleton div-->
        <template v-if="mostVotedNews && !loading && mostVotedNews.length > 0 ">
          <NewsCard :allNews="mostVotedNews"/>
          <LoadingSpinner/>
        </template>
      </div>
    </div>
    <GotoTop/>
  </q-page>

</template>

<script>
import LoadingSpinner from "components/LoadingSpinner";
import CardSkeleton from "components/CardSkeleton";
import NewsCard from "components/NewsCard";
import GotoTop from "components/GotoTop";
import commonMixins from "src/Mixins/CommonMixins";
import getters from "src/Mixins/getters";

export default {
  name: "MostUpvoted",
  mixins: [commonMixins, getters],
  components: {LoadingSpinner, CardSkeleton, GotoTop, NewsCard},

  mounted() {
    this.$store.dispatch("CommonStore/mostUpvoted");
    window.onscroll = () => {
      this.onScrollFetchNews();
    };
  },

}
</script>

<style scoped lang="scss">

.wrapper-div {
  margin-left: 120px;
  margin-right: 100px;

  .heading-text {
    color: $theme-white-primary;
  }

  .card {
    border: 1px solid $theme-light-gray-border;
    border-radius: 18px;
    padding: 8px;
    background-color: $card-background-primary;
    box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
    -webkit-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
    -moz-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;

    .redirect-news {
      cursor: pointer;
    }

    h4 {
      font-size: 18px;
      line-height: 23px;
      padding: 0 10px;
      margin: 14px 0px;
      font-weight: bold;
      color: $theme-white-primary;
      min-height: 46px;

      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    p {
      color: $font-color-light;
      padding: 0 10px;
      font-size: 0.8rem;
    }

    .publisher-icon-wrapper {
      margin-left: 8px;
      display: flex;
      align-items: center;

      span {
        padding-left: 10px;
      }

    }

    .card-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      font-size: 24px;


      .publisher-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $theme-white-primary;
      }
    }

    .card-image {
      width: 100%;
      border-radius: 16px;
      object-fit: cover;
    }

    .card-icon-footer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 6px 0 0;

      .upvote-btn:hover, .chat-btn:hover {
        background-color: $button-hover-background;

        .q-icon {
          color: $button-hover-color;
        }
      }

      .bookmark-btn:hover {
        background-color: $bookmark-btn-hover-background-color;

        .q-icon {
          color: $bookmark-btn-hover-color;
        }
      }

    }
  }
}

@media only screen and (max-width: 1024px) {
  .wrapper-div {
    margin: 0 40px;
  }
}

@media only screen and (max-width: 640px) {
  .wrapper-div {
    margin: 0 30px;

    .card {
      h4 {
        font-size: 1rem;
        line-height: 20px;
        padding: 0 10px;
        margin: 10px 0px;
        font-weight: bold;
        color: $theme-white-primary;
        min-height: 40px;
      }
    }
  }
}

</style>

