<template>
  <q-page>
    <div v-if="getReadNews && getReadNews.length <= 0">
      <EmptyPage
        title="Your reading history is empty."
        description="Go back to your feed and read posts that spark your interest. Each post you read will be listed here."
      >
        <template v-slot:icon>
          <q-icon name="visibility" size="100px"/>
        </template>
      </EmptyPage>
    </div>
    <template v-if="getReadNews && getReadNews.length >=1">
      <div class="field-wrapper">
        <div class="header-section">
          <h6>Reading History</h6>
          <q-input class="search-input"
                   placeholder="Search reading history">
            <template v-slot:prepend>
              <q-icon name="search" class="search-icon"/>
            </template>
          </q-input>
          <p>Today</p>
        </div>
        <div class="read-news-wrapper" v-for="news in getReadNews" :key="news.id">
          <div class="left-box">
            <div>
              <img class="img-container"
                   :src="news.image" alt="image"
                   height="70"/>
            </div>
            <div>
              <span>{{ news.title }}</span>
            </div>
          </div>
          <div class="delete-icon">
            <q-btn round @click="removeReadNews(news.id)">
              <q-icon name="close" size="30px"/>
            </q-btn>
          </div>
        </div>
      </div>
    </template>


  </q-page>
</template>

<script>
import EmptyPage from "components/EmptyPage";
import getters from "src/Mixins/getters";
import commonMixins from "src/Mixins/CommonMixins";

export default {
  name: "ReadingHistory",
  components: {EmptyPage},
  mixins: [getters, commonMixins],
}
</script>

<style scoped lang="scss">
.header-section {
  padding: 10px 20px;

  > p {
    font-weight: bold;
    padding: 20px 0 0 0;
  }
}

h6 {
  margin: 20px 0px;
  color: $theme-white-primary;
}

.field-wrapper {
  width: 40%;
  margin: 0 auto;
  border: 1px solid $theme-light-gray-border;
  height: 100vh;


}

.search-input {
  background-color: $theme-background-secondary;
  border-radius: 30px;
  margin: 5px 0;
  color: $theme-white-primary;
  font-size: 1rem;

  .search-icon {
    padding-left: 15px;
  }


  ::placeholder {
    color: $font-color-light;
    font-size: 1rem;
  }

  .q-icon {
    color: $font-color-light;
  }
}

.read-news-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .left-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1rem;
      color: $theme-white-primary;
    }
  }

  .img-container {
    border-radius: 16px;
    object-fit: cover;
    width: 100%;
  }

}

.read-news-wrapper:hover {
  background: #1c1f26;
}

@media only screen and (max-width: 1024px) {

  h6 {
    margin: 10px 0px;
  }

  .field-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 640px) {
  .header-section {
    padding: 10px 20px;

  }

  h6 {
    margin: 20px 0px;
  }

  .field-wrapper {
    width: 100%;

    img {
      height: 50px;
    }
  }

  .search-input {
    margin: 5px 0;
  }

  .read-news-wrapper {
    padding: 10px 30px;
  }
}

</style>
