<template>
  <q-page padding>
    <div class="wrapper-div">
      <q-input @keydown.enter="searchArticle(query)" class="search-input" v-model="query"
               placeholder="Search articles">
        <template v-slot:prepend>
          <q-icon name="search" class="search-icon"/>
        </template>
      </q-input>
      <div class="row q-col-gutter-lg">
        <template v-for="n in 8" :key="n">
          <CardSkeleton :loading="loading"/>
        </template>
        <template v-if="newsList && !loading && newsList.length > 0 ">
          <NewsCard :allNews="newsList"/>
          <LoadingSpinner/>
        </template>
      </div>
    </div>
    <GotoTop/>
  </q-page>
</template>

<script>
import CardSkeleton from "components/CardSkeleton";
import LoadingSpinner from "components/LoadingSpinner";
import GotoTop from "components/GotoTop";
import {defineComponent, ref} from "vue";
import {mapGetters} from "vuex";
import getters from "src/Mixins/getters";
import commonMixins from "src/Mixins/CommonMixins";
import NewsCard from "components/NewsCard";

export default defineComponent({
  name: "Search",
  mixins: [getters, commonMixins],
  components: {NewsCard, CardSkeleton, LoadingSpinner, GotoTop},
  mounted() {
    this.$store.dispatch("CommonStore/fetchNews")
    window.onscroll = () => {
      this.onScrollFetchNews();
    };
  },
  setup() {
    const query = ref('');
    return {
      query,
    }
  },
});
</script>

<style lang="scss" scoped>
.wrapper-div {
  margin-left: 120px;
  margin-right: 100px;

  .search-input {
    background-color: $theme-background-secondary;
    border-radius: 30px;
    margin: 50px 0;
    color: $theme-white-primary;
    font-size: 1.2rem;

    .search-icon {
      padding-left: 15px;
    }


    ::placeholder {
      color: $font-color-light;
      font-size: 1.3rem;
    }

    .q-icon {
      color: $font-color-light;
    }
  }

}


@media only screen and (max-width: 1024px) {
  .wrapper-div {
    margin: 0 40px;

    .search-input {
      margin: 20px 0;
      font-size: 1.1rem;

      ::placeholder {
        font-size: 1.2rem;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .wrapper-div {
    margin: 0 30px;

    .search-input {
      margin: 20px 0;
      font-size: 1rem;

      ::placeholder {
        color: $theme-white-primary;
        font-size: 1.1rem;
      }
    }

    .card {
      h4 {
        font-size: 1rem;
        line-height: 20px;
        padding: 0 10px;
        margin: 10px 0px;
        font-weight: bold;
        color: $theme-white-primary;
        min-height: 40px;
      }
    }
  }
}
</style>


