<template>
  <div v-if="loading" class="col-lg-3  col-md-4 col-sm-6 col-xs-12 text-left">
    <div class="card ">
      <div class="card-icon-wrapper">
        <q-skeleton size="30px" type="QAvatar" animation="blink"/>
      </div>
      <q-skeleton type="text" class="q-mt-sm" animation="blink"/>
      <q-skeleton type="text" animation="blink"/>

      <q-skeleton type="text" width="100px" class="q-mt-md" animation="blink"/>
      <q-skeleton height="170px" class="q-mt-md card-image " animation="blink"/>

      <div class="">
        <q-skeleton type="QSlider" class="q-mt-md" animation="blink"/>
      </div>
    </div>
  </div>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "CardSkeleton",
  props: {
    loading: {
      type: Boolean,
      default: false
    }
  },
});

</script>

<style scoped lang="scss">

.card {
  border: 1px solid $theme-light-gray-border;
  border-radius: 18px;
  padding: 8px;
  background-color: $card-background-primary;
  box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
  -webkit-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
  -moz-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;

  .redirect-news {
    cursor: pointer;
  }

  h4 {
    font-size: 18px;
    line-height: 23px;
    padding: 0 10px;
    margin: 14px 0px;
    font-weight: bold;
    color: $theme-white-primary;
    min-height: 46px;

    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  p {
    color: $font-color-light;
    padding: 0 10px;
    font-size: 0.8rem;
  }

  .publisher-icon-wrapper {
    margin-left: 8px;
  }

  .card-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    font-size: 24px;


    .publisher-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: white;
    }
  }

  .card-image {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  .card-icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 0 0;

    .upvote-btn:hover, .chat-btn:hover {
      background-color: $button-hover-background;

      .q-icon {
        color: $button-hover-color;
      }
    }

    .bookmark-btn:hover {
      background-color: $bookmark-btn-hover-background-color;

      .q-icon {
        color: $bookmark-btn-hover-color;
      }
    }

  }
}

</style>
