<template>
  <div class="empty-bookmark-section">
    <div class="bookmark-empty-container">
      <div class="header-image">
        <slot name="icon">
        </slot>
      </div>
      <div class="text-body">
        <h5>{{ title }}</h5>
        <p>{{ description }}</p>
      </div>
      <div class="button">
        <q-btn class="goto-home-btn" to="/">Back to feed</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EmptyPage",
  props: {
    title: {
      type: String,
    },

    description: {
      type: String,
    },
  }
}
</script>

<style scoped lang="scss">

.empty-bookmark-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px;


  .bookmark-empty-container {
    width: 40%;
    margin: 0 auto;

    .header-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      opacity: 70%;
    }

    .text-body {
      align-items: center;
      margin: 30px 20px;

      h5 {
        font-size: 1.75rem;
        line-height: 2.125rem;
        text-align: center;
        margin: 10px 20px;
        font-weight: 600;
        color: $theme-white-primary;
      }

      > p {
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
        text-align: center;
      }
    }

    .button {
      display: flex;
      justify-content: center;
      align-items: center;

      .goto-home-btn {
        padding: 10px 20px;
        background: $theme-white-primary;
        border-radius: 20px;
        font-weight: bold;
        color: $theme-background-primary;
      }

    }

  }
}

@media only screen and (max-width: 1024px) {
  .empty-bookmark-section {
    padding-top: 100px;


    .bookmark-empty-container {
      width: 60%;

      .text-body {
        h5 {
          font-size: 1.5rem;
          line-height: 1.75rem;
          margin: 15px 20px;
          font-weight: 500;
        }

        > p {
          font-size: 1.1rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .empty-bookmark-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;


    .bookmark-empty-container {
      width: 100%;
      margin-top: 40%;

      .text-body {
        align-items: center;

        h5 {
          font-size: 1.5rem;
          line-height: 1.75rem;
          margin: 15px 20px;
          font-weight: 500;
        }

        > p {
          font-size: 1rem;
          margin: 15px 20px;
          text-align: left;
        }
      }
    }
  }
}
</style>
