<template>
  <q-item clickable tag="a" :to="link"

  >
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon"/>
    </q-item-section>
    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
    </q-item-section>
    <q-tooltip class="bg-white text-black shadow-4" :delay="300" v-if="miniState" :offset="[5, 10]" anchor="center end"
               self="center start">
      {{ title }}
    </q-tooltip>
  </q-item>
</template>

<script>
import {defineComponent} from "vue";

export default defineComponent({
  name: "EssentialLink",
  props: {
    title: {
      type: String,
    },

    link: {
      type: String,
      default: "#",
    },

    icon: {
      type: String,
      default: "",
    },

    miniState: {
      type: Boolean,
      default: false
    }
  },
});
</script>
<style lang="scss" scoped>

.q-item {
  min-height: 30px;
  padding: 6px 16px;
  color: $font-color-light;
}



.q-item:hover {
  color: $theme-white-primary;
}
</style>
