<template>
  <q-btn class="goto-top-fixed-button" round @click="scrollToTop">
    <q-icon size="40px" name="keyboard_arrow_up"/>
    <q-tooltip class="bg-white text-black shadow-4" :delay="300" :offset="[5, 10]"
               anchor="center end"
               self="center start">
      Go to Top
    </q-tooltip>
  </q-btn>
</template>

<script>
import CommonMixins from "src/Mixins/CommonMixins";

export default {
  name: "GotoTop",
  mixins: [CommonMixins],
  setup() {
    return {}
  },
}
</script>

<style scoped lang="scss">
.goto-top-fixed-button {
  position: fixed;
  z-index: 10;
  bottom: 20px;
  right: 20px;
  background-color: $theme-white-primary;
  color: $theme-background-primary;
  height: 50px;
  width: 50px;
}
</style>
