<template>
  <div v-for="news in allNews" :key="news.id"
       class="col-lg-3  col-md-4 col-sm-6 col-xs-12 text-left">
    <div class="card">
      <div @click="visitLink(news)" class="redirect-news">
        <div class="publisher-icon-wrapper">
          <q-btn size="10px" round class="card-icon-wrapper">
            <img :src="news.publisher_image" class="publisher-icon" alt="">
          </q-btn>
          <span>{{ news.publisher_name }}</span>
        </div>
        <h4>{{ news.title }}
          <q-tooltip class="bg-white text-black shadow-4" :delay="100" :offset=[5,5] anchor="bottom middle"
                     self="top middle">
            {{ news.title }}
          </q-tooltip>
        </h4>
        <p>{{ news.created_at.split(' ')[0] + ' ' + humanized_time_span(news.created_at) }} </p>
        <img
          alt=""
          class="card-image"
          height="170"
          :src="news.image"
        />

      </div>
      <div class="card-icon-footer">
        <div class="flex q-gutter-x-sm">
          <div>
            <q-btn class="chat-btn" fab-mini unelevated round @click="onUpVote(news)">
              <q-icon name="arrow_upward" :color="upVotedData.includes(news.id) ? 'green': '' "/>
              <q-tooltip class="bg-white text-black" anchor="top middle" self="bottom middle" :offset=[5,5]>
                Upvote
              </q-tooltip>
            </q-btn>
            <label for="btn" class="text-weight-bolder"> <span id="btn">{{ news.votes.length }}</span></label>
          </div>
        </div>
        <div class="flex q-gutter-x-sm">
          <div>
            <q-btn class="upvote-btn" fab-mini unelevated round>
              <q-icon name="visibility"/>
              <q-tooltip class="bg-white text-black" anchor="top middle" self="bottom middle" :offset=[5,5]>
                views
              </q-tooltip>
            </q-btn>
            <label for="btn" class="text-weight-bolder"><span>{{ news.views }}</span></label>
          </div>
        </div>

        <div class="flex q-gutter-x-sm">
          <div>
            <q-btn class="bookmark-btn" fab-mini unelevated round
                   @click="toggleBookmark(news)">
              <q-icon :color="bookmarks.includes(news.id) || news.isBookmarked ? 'orange': ''" name="bookmark"/>
              <q-tooltip class="bg-white text-black" anchor="top middle" self="bottom middle" :offset=[5,5]>
                Bookmark
              </q-tooltip>
            </q-btn>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
import commonMixins from "src/Mixins/CommonMixins";
import getters from "src/Mixins/getters";

export default {
  name: "NewsCard",
  mixins: [commonMixins, getters],
  components: {},

  props: {
    allNews: Object,
    default: []
  },
  setup() {
    return {}
  },
}
</script>

<style scoped lang="scss">
.card {
  border: 1px solid $theme-light-gray-border;
  border-radius: 18px;
  padding: 8px;
  background-color: $card-background-primary;
  box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
  -webkit-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;
  -moz-box-shadow: 2px 12px 4px -7px $theme-dark-card-shadow;

  .redirect-news {
    cursor: pointer;
  }

  h4 {
    font-size: 18px;
    line-height: 23px;
    padding: 0 10px;
    margin: 14px 0px;
    font-weight: bold;
    color: $theme-white-primary;
    min-height: 46px;

    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  p {
    color: $font-color-light;
    padding: 0 10px;
    font-size: 0.8rem;
  }

  .publisher-icon-wrapper {
    margin-left: 8px;
    display: flex;
    align-items: center;

    span {
      padding-left: 10px;
    }

  }

  .card-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;


    .publisher-icon {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $theme-white-primary;
    }
  }

  .card-image {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }

  .card-icon-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 0 0;

    .upvote-btn:hover, .chat-btn:hover {
      background-color: $button-hover-background;

      .q-icon {
        color: $button-hover-color;
      }
    }

    .bookmark-btn:hover {
      background-color: $bookmark-btn-hover-background-color;

      .q-icon {
        color: $bookmark-btn-hover-color;
      }
    }

  }
}

.card:hover {
  border: 1px solid $theme-white-primary;
}

@media only screen and (max-width: 640px) {
  .card {
    h4 {
      font-size: 1rem;
      line-height: 20px;
      padding: 0 10px;
      margin: 10px 0px;
      font-weight: bold;
      color: $theme-white-primary;
      min-height: 40px;
    }
  }
}

</style>
