// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #0e1217;
$secondary: #26a69a;
$accent: #9c27b0;
$dark: #1d1d1d;
$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;


//self defined
$font-color-light: #a8b3cf;
$input-box-background-color: #222424;
$theme-background-primary: #0e1217;
$theme-background-secondary: #1c1f26;
$pink-border: #ce3df3;
$card-background-primary: #1c1f26;
$pink-background-button: #9c27b0;
$theme-light-gray-border: #4b5361;
$theme-white-primary: #fff;
$theme-dark-card-shadow: rgba(0, 0, 0, 0.66);
$theme-pink-box-shadow: rgba(206, 61, 243, 0.62);
$button-pressed-color: #39e58c;
$button-hover-color: #39e58c;
$button-hover-background: #1ddc6f3d;

$bookmark-btn-hover-color: #ff8e3b;
$bookmark-btn-hover-background-color: #ff7a2b3d;

html {
  color: $font-color-light;
  background: $theme-background-primary;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, Segoe UI, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

