.q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
  color: $font-color-light;
}

.q-radio__icon-container {
  color: $font-color-light;
}

.q-router-link--exact-active {
  background: $theme-light-gray-border;
  color: #fff !important;
}

.q-item {
  margin: 5px 0;
}


