<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn class="mobile-sidebar-toggle" flat @click="drawer = !drawer" round dense icon="menu"></q-btn>
        <q-toolbar-title><a href="/"><img src="logo.svg" class="q-pt-sm" alt="" height="40"></a></q-toolbar-title>
        <div>
          <!--          <q-btn rounded class="bg-white text-primary top-right-access-button">Access All Features</q-btn>-->
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer :mini="miniState" :breakpoint="1024"
              :width="240" class="bg-primary" v-model="drawer" show-if-above>
      <div :class="miniState? 'arrow-close-drawer-mini':'arrow-close-drawer sidebar-arrow-toggle'">
        <q-btn @click.capture="drawerClick" round size="10px" class="drawer-toggle"
               :icon="miniState ? 'arrow_forward_ios' : 'arrow_back_ios_new'"/>
        <q-tooltip v-if="miniState" class="bg-white text-black shadow-4" :delay="300" :offset="[10, 10]"
                   anchor="center end" self="center start">
          Open sidebar
        </q-tooltip>
        <q-tooltip v-else class="bg-white text-black shadow-4" :delay="300" :offset="[10, 10]" anchor="center end"
                   self="center start">
          Close sidebar
        </q-tooltip>
      </div>
            <div class="feed-wrapper">
      <!--        <div class="personal-feed" v-if="!miniState">-->
      <!--          <h4 class="personal-feed-text">Get the content you need by creating a personal feed</h4>-->
      <!--          <div class="flex justify-center items-center btn-wrapper">-->
      <!--            <q-btn class="text-bold choose-tags-btn q-px-lg">-->
      <!--              <q-icon name="add" class="text-bold q-pr-sm"/>-->
      <!--              Choose tags-->
      <!--            </q-btn>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="mini-state-button" v-else>-->
      <!--          <q-btn icon="add" size="12px" round/>-->
      <!--        </div>-->
            </div>
      <q-list>
        <q-item-label header class="text-bold">Discover</q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          :miniState="miniState"
        />
        <q-item-label header class="text-bold">Manage</q-item-label>
        <EssentialLink
          v-for="link in manageLinks"
          :key="link.title"
          v-bind="link"
          :miniState="miniState"

        />
      </q-list>
      <q-list class="footer-nav-items">
        <EssentialLink
          v-for="link in settingLists"
          :key="link.title"
          v-bind="link"
          :miniState="miniState"

        />
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from "components/EssentialLink.vue";

const DiscoverList = [
  {
    title: "Popular",
    icon: "local_fire_department",
    link: "/popular",
  },
  {
    title: "Most upvoted",
    icon: "arrow_upward",
    link: "/most-upvoted",
  },
  {
    title: "Top News",
    icon: "message",
    link: "/top-news",
  },
  {
    title: "Search",
    icon: "search",
    link: "/search",
  }
];
const managedLinks = [
  {
    title: "Bookmarks",
    icon: "bookmark",
    link: "/bookmarks",
  },
  {
    title: "Reading History",
    icon: "visibility",
    link: "/reading-history",
  },
  {
    title: "Feedback",
    icon: "feedback",
    link: "/feedback",
  },
  // {
  //   title: "Customize",
  //   icon: "message",
  //   link: "/settings",
  // },
];
const settingLinks = [
  // {
  //   title: "Docs",
  //   icon: "description",
  //   link: "/docs",
  // },
  // {
  //   title: "Changelog",
  //   icon: "terminal",
  //   link: "/terminal",
  // },
  // {
  //   title: "Invite people",
  //   icon: "person_add",
  //   link: "/invite",
  // },
]
import {defineComponent, ref} from "vue";

export default defineComponent({
  name: "MainLayout",

  components: {
    EssentialLink,
  },

  setup() {
    const leftDrawerOpen = ref(true);
    const miniState = ref(false);
    const showButton = ref(false);
    return {
      drawer: ref(false),
      miniState,
      showButton,
      drawerClick(e) {
        miniState.value = !miniState.value
        showButton.value = true
        e.stopPropagation()
      },
      essentialLinks: DiscoverList,
      manageLinks: managedLinks,
      settingLists: settingLinks,
      leftDrawerOpen,
    };
  },
});
</script>

<style lang="scss">
@import "../css/utils";

.sidebar-arrow-toggle {
  display: none;
}

.drawer-toggle {
  background-color: white;
  color: black;
}

.arrow-close-drawer, .arrow-close-drawer-mini {
  position: absolute;
  margin-left: 225px;
  margin-top: 10px;
}

.arrow-close-drawer-mini {
  margin-left: 43px;
  margin-top: 10px;
}

.q-drawer {
  border-right: 1px solid $theme-light-gray-border;
}

.q-toolbar {
  border-bottom: 1px solid $theme-light-gray-border !important;
}


.feed-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 20px;

  align-items: center;
}

.personal-feed {
  border: 1px solid $pink-border;
  margin: 20px 20px;
  border-radius: 10px;
  box-shadow: 1px 10px 4px -6px $theme-pink-box-shadow;
  -webkit-box-shadow: 1px 11px 5px -7px $theme-pink-box-shadow;
  -moz-box-shadow: 1px 11px 5px -7px $theme-pink-box-shadow;
}

.mini-state-button {
  margin: 80px 30px;
  background-color: $pink-border;
  color: $theme-background-primary;
  border-radius: 20px;
}

.personal-feed-text {
  font-size: 0.8rem;
  line-height: 20px;
  padding: 0 10px;
  color: $theme-white-primary;
}

.btn-wrapper {
  padding-bottom: 16px;
}

.choose-tags-btn {
  background-color: $pink-border;
  color: $theme-background-primary;
  border-radius: 10px;
  text-transform: capitalize;
}

.footer-nav-items {
  margin-top: 60px;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mobile-toggle {
    display: none;
  }
  .mobile-sidebar-toggle {
    display: block;
  }
  .footer-nav-items {
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1920px) {
  .footer-nav-items {
    position: absolute;
    bottom: 5px;
    margin-left: 15px;
  }
  .sidebar-arrow-toggle {
    display: block;
  }
  .mobile-sidebar-toggle {
    display: none;
  }
}


</style>
